<div class="container">
    <h2>Add New Flat</h2>
    <form (ngSubmit)="onSubmit(flatForm)" #flatForm="ngForm">
        <div class="form-group">
            <label for="residentName">Resident Name</label>
            <input type="text" id="residentName" class="form-control" required [(ngModel)]="flat.residentName" name="residentName">
        </div>
         <div class="form-group">
            <label for="flatNumber">Flat Number</label>
            <input type="text" id="flatNumber" class="form-control" required [(ngModel)]="flat.flatNumber" name="flatNumber">
        </div>
         <div class="form-group">
            <label for="dues">Dues</label>
            <input type="text" id="dues" class="form-control" required [(ngModel)]="flat.dues" name="dues">
        </div>
        <div class="form-group">
            <label for="squareMeters">Square Meters</label>
            <input type="number" id="squareMeters" class="form-control" required [(ngModel)]="flat.squareMeters" name="squareMeters">
        </div>
        <div class="form-group">
            <label for="numberOfRooms">Number of Rooms</label>
            <input type="text" id="numberOfRooms" class="form-control" required [(ngModel)]="flat.numberOfRooms" name="numberOfRooms">
        </div>
        <div class="form-group">
            <label for="floor">Floor</label>
            <input type="number" id="floor" class="form-control" required [(ngModel)]="flat.floor" name="floor">
        </div>
        <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input type="text" id="imageUrl" class="form-control" required [(ngModel)]="flat.imageUrl" name="imageUrl">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

